



/* page1 */

.page1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 ;
    overflow: hidden;
}

.page1 .top {
    height: 100px ;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* .page1::after {
    position: absolute;
    left: 0;
    top: 0;
    content: " ";
    height: 500px ;
    width: 40px;
    background-color: yellow;
}

.page1::before {
    position: absolute;
    right: 0;
    top: 0;
    content: " ";
    height: 500px ;
    width: 40px;
    background-color: yellow;
    z-index: 1;
} */







.page1 .top .box {
    width: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.page1 .top .box.box1 {
    background-color: rgb(206, 241, 7)
}
.page1 .top .box.box2 {
    background-color: rgb(255, 230, 2)
}
.page1 .top .box.box3 {
    background-color: rgb(33, 20, 219)
}
.page1 .top .box.box4 {
    background-color: rgb(20, 218, 30)
}
.page1 .top .box.box5 {
    background-color: rgb(180, 204, 42)
}
.page1 .top .box.box6 {
    background-color: rgb(25, 221, 228)
}
.page1 .top .box.box7 {
    background-color: rgb(184, 26, 176)
}
.page1 .top .box.box8 {
    background-color: rgb(11, 82, 214)
}
.page1 .top .box.box9 {
    background-color: rgb(9, 231, 21)
}
.page1 .top .box.box10 {
    background-color: rgb(231, 99, 10)
}

.cake {
    width: 300px;
}

.page1 .bottom {
    height : 100px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 .bottom h2 {
    font-size: 60px;
    color: rgba(65, 63, 63, 0.329);
    text-transform: uppercase;
    font-weight: 550;
}

.page1 .bottom h2 span {
    animation: textanimate 5s linear infinite;
}



@keyframes textanimate {
    0%{
        color: rgba(65, 63, 63, 0.329);
        text-shadow: none;
    }
    10%, 100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
    }
}

.start-btn {
    margin:  auto;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 30px;
    background: linear-gradient(45deg, #003a69, #19e5ffc2);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    animation: big  2s linear;
    text-decoration: none;
}

@keyframes big {
    0%, 100%{
        transform: scale(1);
    } 
    50% {
        transform: scale(1.2);
    }
}


/* over */
.over {
    
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.speak {
    position: absolute; 
    width: 600px;
    height: 300px;
    background-color: black;
    top: 100px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 5px solid #fff ;
    text-align: center;
}

.speak h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 500px;
    line-height: 50px;
    text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
}

.hello {
    position: absolute;
    top: 500px ;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    border: none;
    background-color: #ddd;
    padding: 20px 30px;
    box-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
        0 0 400px #03bcf4;
    border-radius: 40px;
    z-index: 10;
    cursor: pointer;
    transition: transform  2s linear
}

.hello:hover {
    transform: scale(1.2);
}

.left {
    width: 900px;
    height: 100%;
    background-color:#000;
    display: flex;
    transform: translateX(0px) ; 
    transition: transform 10s linear;
    /* animation:  run 10s infinite; */
}

.right {
    width: 900px;
    height: 100%;
    background-color:#000;
    display: flex;
    transform: translateX(0px) ; 
    transition: transform 10s linear;
    /* animation:  run2 10s infinite; */
}


.right span,
.left span {
    width: 10%;
    height: 95%;
    position: relative;
    
}



.right span:nth-child(odd),
.left span:nth-child(odd) {
    width: 10%;
    height: 95%;
    background: linear-gradient(90deg,#ff3cc469,#ff3cc481,#ff3cc4a4,#ff3cc4d5,#ff3cc4,#ff3cc4d5,#ff3cc4a4,#ff3cc481,#ff3cc469);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.right span:nth-child(even),
.left span:nth-child(even) {
    height: calc(95% - 45pxpx);
    background: linear-gradient(90deg,#ff3cc400,#ff3cc411,#ff3cc41e,#ff3cc436,#ff3cc45e,#ff3cc436,#ff3cc41e,#ff3cc411,#ff3cc400);
}

.right span:nth-child(even)::before,
.left span:nth-child(even)::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    border-radius: 40%;
}



/* index2 */



